.btn-separator {
	display: flex;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	align-items: center;
	&_active {
		color: #fff;
		background-color: #28a745;
		border-color: #28a745;
		&:hover,
		&:focus {
			color: white;
			background-color: darken(#28a745, 10%);
		}
		&:focus,
        &:active {
            background-color: darken(#28a745, 10%) !important;
			box-shadow: 0 0 0 0.2rem rgba(30,126,52,.5) !important;
		}
		.btn-separator__img {
			border-left: 1px solid white;
		}
		path {
			fill: white;
		}
	}
}


.btn-separator__text {
	padding-left: 10px;
	padding-right: 20px;
}

.btn-separator__img {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 1px solid $white;
	padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 12px;
}