<div class="mobile-menu">
    <h2 class="mobile-menu__caption"><img src="img/logo.png" alt="logo" class="logo img-fluid"></h2>
    <ul class="mobile-menu-list">
        <li class="mobile-menu__item">
            <div class="accordion" id="mobileMenuAccordionBtn">
                <div class="mobile-menu__button">
                    <div id="headingOne">
                        	<button class="mobile-menu-btn mobile-menu-btn_black btn" type="button" data-toggle="collapse" data-target="#mobileMenuCollapse" aria-expanded="true" aria-controls="mobileMenuCollapse">
                        		<i class="icon icon_burger"></i><span class="mobile-menu-btn__text">Каталог товаров</span>
                        	</button>
                    </div>
                    <div id="mobileMenuCollapse" class="collapse" aria-labelledby="mobileMenuAccordionBtn" data-parent="#mobileMenuAccordionBtn">
                        <div>
                            <ul class="mobile-submenu-list">
                                <li class="mobile-submenu-list__item">
                                    <a class="mobile-menu-link" href="#"><b>Новинки</b></a>
                                </li>
                                <li class="mobile-submenu-list__item">
                                    <a class="mobile-menu-link" href="#"><b>Акции</b></a>
                                </li>
                                <li class="mobile-submenu-list__item">
                                    <a class="mobile-menu-link" href="#">Сезонные товары</a>
                                </li>
                                <li class="mobile-submenu-list__item">
                                    <a class="mobile-menu-link" href="#">Барная продукция</a>
                                </li>
                                <li class="mobile-submenu-list__item">
                                    <a class="mobile-menu-link" href="#">Интерьер</a>
                                </li>
                                <li class="mobile-submenu-list__item">
                                    <a class="mobile-menu-link" href="#">Кухоные принадлежности</a>
                                </li>
                                <li class="mobile-submenu-list__item">
                                    <a class="mobile-menu-link" href="#">Посуда для напитков</a>
                                </li>
                                <li class="mobile-submenu-list__item">
                                    <a class="mobile-menu-link" href="#">Посуда для сервировки</a>
                                </li>
                                <li class="mobile-submenu-list__item">
                                    <a class="mobile-menu-link" href="#">Посуда для хранения</a>
                                </li>
                                <li class="mobile-submenu-list__item">
                                    <a class="mobile-menu-link" href="#">Посуда для приготовления</a>
                                </li>
                                <li class="mobile-submenu-list__item">
                                    <a class="mobile-menu-link" href="#">Столовые приборы</a>
                                </li>
                                <li class="mobile-submenu-list__item">
                                    <a class="mobile-menu-link" href="#">Текстиль</a>
                                </li>
                                <li class="mobile-submenu-list__item">
                                    <a class="mobile-menu-link" href="#">Хозяйственные товары</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="mobile-menu__item">
            <a class="mobile-menu-link" href="#">О нас</a>    
        </li>
        <li class="mobile-menu__item">
            <a class="mobile-menu-link" href="#">Статьи</a>    
        </li>
        <li class="mobile-menu__item">
            <a class="mobile-menu-link" href="#">Список желаний (<span>0</span>)</a>    
        </li>
        <li class="mobile-menu__item">
            <a class="mobile-menu-link" href="#">Войти</a>    
        </li>
        <li class="mobile-menu__item">
            <a class="mobile-menu-link" href="#">Корзина</a>    
        </li>
    </ul>
</div>